@font-face{
	font-family: Jonah;
	src: url('Jonah-Regular.ttf');
}
.content-box{
	border-radius: 20px;
	background-color: #4f0099;
}

body{
	background-color: #f3e6ff;
	font-family: 'Jonah';
	margin: auto;
}
#header{

}
#content{
	padding: 25px;
}