@font-face{
	font-family: Jonah;
	src: url('Jonah-Regular.ttf');
}
.content-box{
	border-radius: 20px;
	padding: 5px;
	/*float: left;*/
	width: 300px;
	height:200px;
	color: white;
}
.open{
	background-color: #6900cc;
}
.closed{
	background-color: #350066;
}

body{
	background-color: #f3e6ff;
	font-family: 'Jonah';
	margin: auto;
	text-align: center;
}
#header{

}
#content{
	padding: 25px;
}
#box-holder{
	margin: auto;
	text-align: center;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}